 body {
            background: url('indexImage.jpg');
            background-size: cover;
            color: black;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        .navbar {
            background-color: rgba(0, 0, 139, 0.8);
            padding: 10px;
        }
        .navbar a {
            color: white;
            text-decoration: none;
            margin: 15px;
            font-size: 18px;
        }
        .navbar a:hover {
            text-decoration: underline;
        }
.personbox {
border: 1px solid #ccc;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 15px;
            transition: background-color 0.3s;
}

.personbox:hover {
 background-color: #f0f0f0;
}
.pdf {
        width: 100%;
        aspect-ratio: 4 / 3;
    }
    .pdf
     .container {
            max-width: 800px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: background 0.3s ease-in-out;
        }
        .container:hover {
            background: #e0e0e0;
        }
